Repository saulonunesdev/bootstrap: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json, yamllint

chore: removed coverage
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
Due: eslint --config=.eslintrc.json

chore: test
  package-lock.json
  package.json
  src/sentry.ts
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json

chore: update packages
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
  package-lock.json
Due: lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, yamllint

chore: added json lint with vscode formatting
  .depcheckrc.json
  .eslintrc.json
  .github/workflows/coverage.yml
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .npmpackagejsonlintrc.json
  .vscode/settings.json
  .yaml-lint.json
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, yamllint

chore: test PR CI
  .lintstagedrc.json
  src/index.ts
Due: eslint --config=.eslintrc.json

chore: update jest tests coverage
  .depcheckrc.json
  .vscode/launch.json
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  tests/index.test.ts
  tsconfig.build.json
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json

fix: coverage action
  .github/workflows/coverage.yml
Due: yamllint

Test/pr 1 (#6)
  .depcheckrc.json
  .lintstagedrc.json
  .vscode/launch.json
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  tests/index.test.ts
  tsconfig.build.json
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json

Update README.md
  README.md
Due: none

Update README.md (#7)
  README.md
Due: none

chore: fix audit npm
  .github/dependabot.yml
  .github/workflows/ci.yml
  docs/references.md
  jest.config.js
  package-lock.json
Due: lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json, yamllint

chore: test pre hooks 1
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/index.ts
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json

Test (#19)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .husky/common.sh
  .husky/pre-commit
  .husky/pre-push
  docs/references.md
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json, yamllint

chore: test hooks 2
  src/index.ts
  tests/index.test.ts
Due: eslint --config=.eslintrc.json

chore: test hooks 3
  src/index.ts
  tests/index.test.ts
Due: eslint --config=.eslintrc.json

test
  .github/workflows/ci.yml
Due: yamllint

test 2
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  .yaml-lint.json
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  tests/index.test.ts
  tsconfig.build.json
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json, yamllint

test 3
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/index.ts
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json

feat: changed linter to eslint-config-love and added prettier for format with standard rules
  .github/dependabot.yml
  .prettierignore
  .vscode/settings.json
  README.md
  docs/references.md
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, yamllint

Upd packages (#24)
  .eslintignore
  .eslintrc.json
  .github/dependabot.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  .yaml-lint.json
  README.md
  docs/references.md
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  tests/index.test.ts
  tsconfig.build.json
  tsconfig.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s, eslint --config=.eslintrc.json, yamllint

chore: update setting
  .vscode/settings.json
Due: none

chore(deps): update version of eslint config love
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s

chore(deps): update version of eslint config love (#28)
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s

fix: npm audit and update eslint-config-love
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s

test
  README.md
Due: none

test2
  README.md
Due: none

Path conditions:
  npmPkgJsonLint .: any of: package.json
  lockfile-lint -p package-lock.json -t npm -a registry.npmjs.org -s: any of: package-lock.json
  eslint --config=.eslintrc.json: any of: *.{js,ts}
  yamllint: any of: *.{yaml,yml}
